@media (width<480px) {
    body {
        background-color: red;  
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 1,5em;
    }
    h2 {
        font-size: 1em;
    }
    p {
        font-size: 0,5em;
    }
    .boîtes {
        width: 100px;
    }
}
@media (width>=480px) and (width<1024px) {
    body {
        background-color: green;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    .boîtes {
        display: flex;
        flex-wrap: wrap;
    }
    #small {
        width: 66%;
    }
    #medium {
        width: 33%;
    }
    #large {
        width: max-content;
    }
}
@media (width>=1024px) {
    body {
        background-color: blue;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    p {
        font-size: 2em;
    }
    .boîtes {
        display: flex;
        justify-content: space-around;
    }
    #small {
        max-width: 30%;
    }
    #medium {
        max-width: 30%;
    }
    #large {
        max-width: 30%;
    }
}